.container-about {
    background-color: #6dd3ff;
    margin-top: 15px;
    padding: 60px 0;
    width: 100%;
    height: auto;
}

.container-about h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

.container-about p {
    font-weight: 400;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}