/* Content */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
}

/* Main layout */
.main-content {
    display: flex;
    width: 100%;
    margin-top: 60px;
    padding-left: 250px;
    transition: margin-left 0.3s;
}

.main-content.collapsed {
    margin-left: 73px;
}

/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 30px 12px 20px;
    position: fixed;
    width: calc(100% - 250px);
    top: 0;
    left: 250px;
    transition: width 0.3s, left 0.3s;
    z-index: 20;
}

.navbar.collapsed {
    width: calc(100% - 73px);
    left: 73px;
}

.nav-button {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav-profile,
.nav-logout {
    border-radius: 8px;
    border: 2px solid #f4f6f9;
    font-weight: 500;
    color: #333;
    background-color: #ffff;
    padding: 8px 26px;
}

.btn-list img {
    width: 20px;
    height: auto;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding: 10px 0;
    transition: width 0.3s;
    z-index: 10;
}

.sidebar.uncollapsed {
    width: 250px;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 73px;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sidebar-header img {
    width: 60px;
    height: auto;
}

.sidebar-header h5 {
    margin: 0;
    opacity: 1;
    transition: opacity 0.3s;
}

.sidebar.collapsed .sidebar-header h5 {
    opacity: 0;
}

.sidebar-menu img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    transition: margin-right 0.3s;
}

.sidebar-menu {
    width: 100%;
    padding: 0 10px;
}

.sidebar-menu button {
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px 20px;
    transition: padding 0.3s;
}

.sidebar-menu button:hover {
    background-color: #495057;
}

.sidebar-menu button.active {
    background-color: #495057;
    color: #fff;
}

.sidebar-menu button span {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.3s;
}

.sidebar.collapsed .sidebar-menu button {
    padding: 10px 15px;
}

.sidebar.collapsed .sidebar-menu button img {
    margin-right: 0;
}

.sidebar.collapsed .sidebar-menu button span {
    display: none;
    opacity: 0;
}

/* Main Content */
.container {
    width: 100%;
    padding: 15px;
    background-color: #f4f6f9;
    transition: width 0.3s;
}

h4 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: 600;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 15px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    background-color: #495057;
    color: white;
    text-align: center;
    font-weight: bold;
}

.table th a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table th a,
.table thead th {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.table th a img {
    margin-left: 8px;
    width: 16px;
    height: auto;
}