@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Nutmeg Bold', sans-serif;
    src: url('/public/font/Fontspring-DEMO-nutmeg-bold.otf') format('truetype');
}

html {
    scroll-behavior: smooth;
    margin-top: 60px;
}

body,
* {
    font-family: 'Poppins', sans-serif;
}

/* Popup Whatsapp */
#whatsapp-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

#whatsapp-popup a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

#whatsapp-popup img {
    width: 25px;
    margin-right: 10px;
}

#whatsapp-popup span {
    font-weight: 500;
    font-size: 15px;
}

/* Back to Top */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
}

#back-to-top img {
    width: 30px;
    height: 30px;
}