.container-menu {
    width: 100%;
}

.container-menu h2 {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    color: #333;
}

.container-menu p {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    color: #333;
}

.option-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-menu img {
    width: 50px;
    height: auto;
}

.btn-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #333;
    background-color: #ffff;
    border: 2px solid #ffff;
    border-radius: 16px;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, border-color 0.3s;
    padding: 8px 20px;
    width: 28%;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-menu:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #b8e7fb;
    border-color: #b8e7fb;
    color: #333;
}

/* Satu Kali Cuci dan Add-ons Satu Kali Cuci */
.price-menu,
.add-menu {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    gap: 20px;
}

.card-price,
.add-card {
    width: 26%;
    border: 1px solid #bebebe;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.card-price:nth-child(4),
.card-price:nth-child(5) {
    width: calc(45%+20px);
}

.card-price ul {
    margin: 0;
    padding: 0;
}

.card-price h5,
.add-card h5 {
    color: #333;
    text-align: start;
}

.card-price img {
    width: 18px;
    height: auto;
    margin: -2px 8px 0 0;
}

.card-service img {
    width: 16px;
    margin: -2px 10px 0 0;
}

.card-service li,
.add-service p {
    list-style: none;
    padding: 3px 0;
    font-size: 14px;
    color: #333;
}

.price {
    margin-top: auto;
}

.price p {
    font-size: 13px;
    color: #777;
    margin: 0;
}

.price h6 {
    margin: 0;
    color: #333;
    font-weight: 600;
}

.select-price,
.select-add {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.form-check-input {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #22b6f6;
    border-color: #22b6f6;
}

.form-check-input:focus {
    box-shadow: none;
}

.estimation {
    width: fit-content;
    font-size: 5px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 25px;
    color: #2277b9 !important;
    background-color: #abe6ff;
}

/* Tombol Lanjutkan dan Reset */
.order-menu {
    width: 65%;
    background-color: #abdef3;
    border: 2px solid #abdef3;
    border-radius: 18px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.btn-reset,
.btn-next,
.btn-back {
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    padding: 9px 0;
    width: 30%;
}

.btn-reset,
.btn-back {
    background-color: #f9f9f9;
    color: #2277b9;
    border: 1px solid #f9f9f9;
}

.btn-next {
    background-color: #2277b9;
    color: #fff;
    border: 1px solid #2277b9;
}

/* Bagian Krusial */
.container-wash {
    width: 100%;
    padding: 0 150px;
}

.container-wash h2 {
    font-weight: 600;
}

.container-wash a,
.container-detail-order a {
    color: #2277b9;
    font-size: 14px;
    margin-left: 5px;
}

.container-wash a img,
.container-detail-order a img {
    margin-right: 8px;
}

/* Salon mobil dan detailing */
.car-category {
    width: 60%;
    padding: 12px;
}

.car-category img {
    width: 80px;
}

.btn-car {
    width: 25%;
    border: 1px solid #bebebe;
    background-color: #fff;
    border-radius: 10px;
    padding: 2px 0;
    margin: 0;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

/* Layanan dipilih */
.menu-selected {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 65%;
    background-color: #f9f9f9;
    border-radius: 18px;
    padding: 10px;
}

.card-selected {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
}

.add-selected {
    gap: 20px;
    margin-bottom: 30px;
}

.add-selected h5 {
    background-color: #abdef3;
    width: fit-content;
    border-radius: 4px;
    padding: 2px 6px;
}

/* Pilih Kendaraan */



/* Form Kendaraan dan Tanggal */
.form-input {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 65%;
}

.form-input label {
    font-size: 14px;
    color: #333;
    padding: 10px 0;
}

.form-input label span {
    color: red;
    margin-left: 3px;
}

.form-input input,
.form-input select {
    border-radius: 4px;
    border: 1px solid #555;
    padding: 13px;
    color: #3e3e3e;
    font-size: 14px;
}

.form-input input:focus,
.form-input select:focus {
    outline: none;
    border-color: #333;
    box-shadow: none;
    border: 2px solid #333;
}

.form-input input::placeholder,
.form-input select::placeholder {
    font-size: 14px;
    color: #a6a6a6;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.error-message {
    font-size: 12px;
    color: red;
    display: none;
}

.modal-body li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Detail Pemesanan */
.container-detail-order {
    width: 100%;
    padding: 0 150px;
}

.container-detail {
    display: flex;
    justify-content: space-between;
}

/* Detail Order */
.layout-order {
    width: 45%;
}

.detail-order {
    background-color: #fff;
    border: 1px solid #cecece;
    color: #333;
    width: 100%;
    height: auto;
    padding: 12px;
    margin-left: 12px;
}

.pay-logo {
    display: flex;
    justify-content: space-between;
}

.pay-logo img {
    width: 80px;
    height: auto;
}

.line {
    margin: 5px 0;
}

.detail-title h6,
.detail-title p {
    margin: 6px 0;
    padding: 0;
    font-weight: 500;
    color: #333;
}

.detail-title ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2px 0;
}

.detail-title li {
    list-style: none;
}

.pay-now {
    width: 100%;
    margin-left: 12px;
}

.pay-now h5 {
    font-size: 16px;
    font-weight: 600;
}

.pay-price h6,
.pay-price p {
    margin: 0 5px;
    padding: 0;
}

/* FAQ */
.layout-faq {
    width: 35%;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
    border: none;
    background-color: inherit;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
}

.accordion-item h2:focus,
.accordion-item button:focus {
    outline: none;
    box-shadow: none;
}

.accordion-item h2 {
    font-weight: 500;
    color: #333;
}

.accordion-body {
    font-size: 14px;
    color: #333;
}