/* Paket */
.container-package {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.container-package h2 {
    color: #333;
}

.container-package p {
    color: #333;
    margin-bottom: 50px;
}

.card-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

.card {
    width: 300px;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 35px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    padding: 10px;
}

.card-title img {
    width: 200px;
    height: auto;
}

.card-title h5 {
    padding: 20px 20px 0;
}

.card-title a {
    padding: 20px 20px 0;
    color: #2d7fc1;
    font-weight: 500;
    font-size: 16px;
}