.container-harga {
    background-color: #6dd3ff;
    margin-top: 15px;
    padding: 60px 0;
    width: 100%;
    height: auto;
}

.container-harga h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

.container-harga p {
    font-weight: 400;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}

.container-harga img {
    width: 30%;
    height: auto;
}

.harga-content {
    display: flex;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px;
    text-align: center;
    width: 30%;
    height: 400px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title img {
    width: 30px;
    height: auto;
    margin: 0;
}

.card-title h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000;
    height: 20%;
}

.card-title p {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 13px;
    height: 20%;
}

.text-card li {
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: left;
    font-size: 15px;
    list-style: none;
    padding: 5px 0;
}

.text-card img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.card .price {
    font-weight: 700;
    color: #000;
    margin-top: 10px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}